<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="center-text">All Tags</h2>
    <%= link_to "View All Creatures", creatures_path, class: "pull-left btn btn-danger" %>
    <%= link_to "New Tag", new_tag_path, class: "pull-right btn btn-warning" %>
  </div>

<% @tags.each do |tag| %>
<div class="well well-sm creature-card col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <h3><%= link_to tag.name, tag %></h3>

  <div class="button-cluster">
    <% if tag.creatures.empty? %>
      <%= link_to "", tag, method: :delete, class: ' pull-right delete-link glyphicon glyphicon-trash margin-right btn btn-danger', title: "Delete", data: {confirm: "Are you sure?"} %>
    <% else %>
      <%= link_to "", "", class: ' pull-right delete-link-disabled glyphicon glyphicon-trash margin-left', title: "Tag is in use by creatures and cannot be deleted.", data: {confirm: "Are you sure?"} %>
    <% end %>
  </div>


  <%= link_to "", edit_tag_path(tag), class: 'btn btn-primary btn-sm glyphicon glyphicon-pencil pull-right margin-left' %>

</div>
<% end %>

</div>